<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/messages.css') }}" />
</head>
<body>
    <div class="container">

        <div class="head">
          <h3>Messages</h3>
        </div>  
        <!-- Tab navigation -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'inbox')"><span class="material-symbols-outlined">mail</span><strong>Inbox  </strong></button>
            <button class="tablinks" onclick="openTab(event, 'sent')"><span class="material-symbols-outlined">mail</span><strong>Sent </strong></button>
        </div>
        
        <!-- Inbox Messages -->
        <div id="inbox" class="tabcontent">
            <h2>Inbox Messages</h2>
            <ul>
                {% for message in r_messages %}
                <li class="message">
                    <strong>From: </strong>{% if message[1]=="Admin" %}{{message[1]}}{% else %}{{ message[7] }}{% endif %}<br>
                    <strong>Subject: </strong>{{message[3]}}<br>
                    <strong>Message: </strong> {{message[4]}}<br>
                    {{message[5]}}<br>
                    <!-- <a href="#" class="reply">reply</a> -->
                </li>
                {% endfor %}
            </ul>
          
        </div>
        
        <!-- Sent Messages -->
        <div id="sent" class="tabcontent">
            <h2>Sent Messages</h2>
            <ul>
                {% for message in s_messages %}
                <li class="message">
                    <strong>To: </strong>{% if message[2]=="Admin" %}{{message[2]}}{% else %}{{ message[7] }}{% endif %}<br>
                    <strong>Subject: </strong>{{message[3]}}<br>
                    <strong>Message: </strong> {{message[4]}}<br>
                    {{message[5]}}<br>
                    <!-- <a href="#" class="reply">reply</a> -->
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script> 
    function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    
    // Hide all tab content
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    
    // Deactivate all tab links
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    
    // Show the selected tab content and set the tab link as active
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}

    </script>
</body>
</html>
